*-workspace
.claude
src/genomicsxai.github.io
src/alphagenome-pytorch
scratch/*
support/private/*
notebooks/figures/*/*/*
src/qtlmap
src/MotifDiff
src/outlier_analysis
src/Pangolin
src/Pangolin_train
src/custom-pangolin
*.nextflow*
.DS_Store
*ipynb_checkpoints*
*snakemake*
.done
*.pyc
*snakejob*
*snakepipe*
*.mcr
*.private*
Rplots.pdf
*.egg-info*
slurm-*
*wandb*
._*
*.pdf
