scratch/*
support/private/*
notebooks/figures/*/*/*
src/qtlmap
src/MotifDiff
src/outlier_analysis
*.nextflow*
.DS_Store
*ipynb_checkpoints*
*snakemake*
.done
*.pyc
*snakejob*
*snakepipe*
*.mcr
*.private*
Rplots.pdf
*.egg-info*
slurm-*
*wandb*
._*
